.tabs {
  display: flex;
  border-bottom: 2px solid #ccc;
  margin-bottom: 1em;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid transparent;
}

.tab:hover {
  background-color: #f0f0f0;
  border-bottom: 2px solid #ccc;
}

.tab.active {
  border-bottom: 2px solid #007bff;
  font-weight: bold;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

#map-container {
  display: flex;
  gap: 20px;
}

#entity-menu {
  border: 1px solid #ccc;
  padding: 10px;
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

#entity-menu {
  width: 900px;
  height: 600px; /* Or max-height: 80vh; */
  overflow-y: auto; /* Adds vertical scroll only when needed */
  border: 1px solid #ccc;
}

#message {
  font-size: 36px;
  white-space: pre-wrap; /* Respects newlines and wraps text to the next line */
}
